# Default ignored files
/../../../:ByteView/.idea/shelf/
/../../../:ByteView/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../:ByteView/.idea/httpRequests/
# Datasource local storage ignored files
/../../../:ByteView/.idea/dataSources/
/../../../:ByteView/.idea/dataSources.local.xml
